// about styling




// styles for mobile start here



#about {
    padding: 0.3rem 0.2rem;
    


    .about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container {
        @include container;
    }

    .about-image{
        text-align: center;
        
    }

    .about-image img {
        // display: flex;
        // justify-content: center;
        
        // margin-left: auto;
        width: 30%;
        border-radius: 50%;
        margin-top: 30px;
        border: 2px $secondary-color solid;
        
        
        
    }
   
    h3 {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 535;
        text-align: center;
    }

    p.lead {
        margin-bottom: 3rem;
        }
        
    

    // .about-image img {
    //     // display: block;
    //     margin-left: auto;
    //     width: 60%;
    //     border-radius: 50%;
    //     margin-top: 60px;
    //     border: 2px $secondary-color solid;
    //     color: red;
        
        
    // }
}    






// styles for mobile end here

// for desktop
@media only screen and (min-width: 1001px) {
    #about{

        .about-content {
            display: flex;
        }
    
        .about-text,
        .about-image {
            flex: 1;
            margin-top: 3rem;
        } 
    
    
        .about-image img {
            
            width: 50%;
        }
    
        .about-text {
            text-align: justify;
    
        }
    
        .about-text{
            order: 1;
    
        }
    
         .text-paragraph p {
             margin-top: 3rem;
    
         }
    
        .about-image {
            order: 2;
        }
    }
    
    
    
    }
    