// about styling




// styles for mobile start here



#about {
    padding: 1rem 0;
    

    .about {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container {
        @include container;
    }

    .about-image{
        text-align: center;
        
    }

    .about-image img {
        // display: flex;
        // justify-content: center;
        
        // margin-left: auto;
        width: 50%;
        border-radius: 50%;
        margin-top: 60px;
        border: 2px $secondary-color solid;
        color: red;
        
        
    }
   
    h3 {
        font-size: 3rem;
        margin-bottom: 1rem;
        font-weight: 535;
    }

    p.lead {
        margin-bottom: 3rem;
        }
        
    
    

    

    .about-image img {
        // display: block;
        margin-left: auto;
        width: 60%;
        border-radius: 50%;
        margin-top: 60px;
        border: 2px $secondary-color solid;
        color: red;
        
        
    }
}    






// styles for mobile end here

// for desktop
@media only screen and (min-width: 900px) {

    .about-content {
        display: flex;
    }

    .about-text,
    .about-image {
        flex: 1;
    } 


    .about-text {
        text-align: justify;
    }
}


