// #blog {
    
// // width for whole box
// .boxes {
//     margin: 5%;
//     text-align: center;

// }

// // background color

//     .box {
//         background: #fff;
//     }

//     .text-primary {
//         @include text-primary;
//     }

    

//     h2 {
//         text-align: center;
//         font-size: 4rem;
//         margin-bottom: 3rem;
//         // color: 
//     }

      

    

//     .box:first-child, .box:nth-child(2), .box:nth-child(3), .box:nth-child(4) {
//         margin-bottom: 3rem;
//     }

//     .box img {
//         border-radius: 50%;
//         margin-right: 2rem;
    
//     }
    

//     p {
//         color: $nav-color;
//         justify-content: center;
//     }

    
// }

// // desktop

// @media only screen and (min-width: 900px) { 
    
//     .boxes {
//         display: flex;
//         flex-direction: column; 
//         flex-wrap: wrap;   
//     }

    

//     .box {
       
//         display: flex;
//         padding: 2rem;
//         align-items: center;
//         border-radius: 15px; 


       
//     }
      


// }



#blog {
    // .container {
    //     max-width: 600px;
    //     margin: auto;
    // }

    h2 {

        font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: 535;
        

        

    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2rem;
        
        
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
        // border: 1px solid $nav-color ;
        width: 100%

        
    }

    img {
        padding: 0 16px;
    }

    .box  {
        padding: 0 16px;
        
        

        h2{
            color: $secondary-color;
            text-align: left;
            font-size: 1.5rem;
        }
        

        p {
            font-size: 15px;
            margin-top: 5px
        }
        
        .p-color {
            color: grey;
            text-align: right;
            font-size: 12px;
        }
    }
}



// view from min 768px and over

@media only screen and (min-width: 768px){
    #blog{
    
        .container {
            @include container;
    
        }
    
        h2 {
            font-size: 3rem;
            margin-top: 2rem;
            font-weight: 400;
        }
    
        .boxes {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            // width: 50%;
    
            margin-top: 2rem;
        }
    
        .card {
            
            width: 50%;
            margin-bottom: 3rem;
        }
         
        .img {
            padding: 25px 16px;
        }
        .box {
            padding: 0 10px;

        }
        
    }

    
    }





