

#blog {
    // .container {
    //     max-width: 600px;
    //     margin: auto;
    // }

    h2 {

        font-size: 2rem;
        text-align: center;
        margin-top: 1rem;
        font-weight: 535;
        

        

    }

    .boxes {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2rem;
        
        
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 2rem;
        // border: 1px solid $nav-color ;
        width: 100%


            
    }

    img {
        padding: 0 16px;

        
    }



    .box  {
        padding: 0 16px;
        
        

        h2{
            color: $secondary-color;
            text-align: left;
            font-size: 1.5rem;
        }
        

        p {
            font-size: 15px;
            margin-top: 5px
        }
        
        .p-color {
            color: grey;
            text-align: right;
            font-size: 12px;
        }
    }
}



// view from min 768px and over

@media only screen and (min-width: 768px){
    #blog{
    
        .container {
            @include container;
    
        }
    
        h2 {
            font-size: 3rem;
            margin-top: 2rem;
            font-weight: 400;
        }
    
        .boxes {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            // width: 50%;
            justify-content: center;
    
            margin-top: 2rem;
        }
    
        .card {
            
            width: 40%;
            margin-bottom: 3rem;
            margin-inline-start: 1.5rem;
            margin-inline-end: 1.5rem;
        }
         
        .img {
            padding: 25px 16px;
        }
        .box {
            padding: 0 10px;

        }
        
    }

    
    }





