#contact {
    padding-top: 4vh;
    h1 {
        color: $secondary-color;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;
        
        
        
    }
    h2 {
        color: $nav-color;
        font-size: 20px;
        background: rgba($secondary-color, 0.2);
        width: 100%;
        text-align: center;
        
   
    }


    .contact-boxes {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .box {
        border: 4px solid $secondary-color;
        margin: 0 50px;
        margin-bottom: 1rem; 
        padding: 2px;
        border-radius: 10px;
        text-align: center;
        @include ease-out;

          &:hover {

            border: 2px solid $nav-color;
            padding: 0.2rem 1rem;
            background: $secondary-color;
            color: white;
              
          }
          .icons {
            // margin-top: 1rem;
            // justify-content: left;
            // align-items: ;
    
            a{
                padding: 0.4rem;
                color: $nav-color;
    
                &:hover {
                    color: $primary-color;
                    @include ease-out();
                    
    
                }
            }
        }
        
    }

     





    // .contact-boxes {
    //     display: flex;
    //     flex-wrap: wrap;
    //     flex-direction: column;
    //     text-align: center;
        
    //     margin-top: 2rem;
    //     }

    //     .box {
    //         border: 4px solid $nav-color;
    //         padding: 4px;
    //         margin-bottom: 2rem;
    //         border-radius: 10px;
        
    //         @include ease-out;

    //         &:hover {
    //             border: 2px solid red;
    //             padding: 0.2rem 1rem;
    //             background: $secondary-color;
    //             color: white;
    //         }
           
    //     }

}