
// styling for mobile view
#contact {
    padding-top: 4vh;

    // heading1
    h1 {
        color: $secondary-color;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 10px;
        text-align: center;  

    }
    // heading 2
    h2 {
        color: $nav-color;
        font-size: 20px;
        background: rgba($secondary-color, 0.2);
        width: 100%;
        text-align: center;
        
   
    }

    // for whole boxes in the contact list
    .contact-boxes {
        display: flex;
        flex-wrap: wrap;
        // margin-top: 3rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-bottom: 50px;

    
    }

    
    // for individual boxes
    .box {
        
        border: 4px solid $secondary-color;
        margin: 0 50px;
        margin-bottom: 2rem; 
        padding: 2px;
        border-radius: 10px;
        text-align: center;

        // to remove hyperlink from email address
        a{
            text-decoration: none;
            color: $nav-color;
        }
        // ease out for hover effect
        @include ease-out;

       
       
          &:hover {

            border: 2px solid $nav-color;
            padding: 0.5rem 0;
            background: $secondary-color;
            color: white;


            // to set the color of email address white during hover
                a  {
                 color: white;
                 }

    
          }

        //   icons styling
          .icons {
            // margin-top: 1rem;
            // justify-content: left;
            // align-items: ;
    
                a {
                    // padding: 0.4rem;
                    color: $nav-color;
                    
        
                    &:hover {
                        color: $primary-color;
                        @include ease-out();
                        text-align: center;
                        
        
                    }
                }
        }
        
    }

    

}   





// Desktop View

@media only screen and (min-width: 768px) {

    #contact {

        .container {
            @include container;
        }
    
        h1 {
            font-size: 4rem;
            font-weight: 400;
        }

        h2 {
            font-size: 2rem;
            text-align: center;
            width: 100%;
            
        }

        .contact-boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 2rem;
            flex-direction: row;
            // align-items: center;
            padding: 20px;
            padding-bottom: 50px;

            
            
        }

        .box {
            font-size: 2rem;
            border: 4px solid $secondary-color;
            // padding: 1.5rem 5rem;
            margin: 0 25%;
            margin-bottom: 2rem;
            // text-align: center;
        
            // padding: 0 20px;
            
        }
        .icons {
            a {
                padding: 0.5rem;
            }
        }

    }

    
    

}


// @media only screen and (min-width: 1024px) {
   





// }