// $primary-color: #fff;
// $secondary-color: #3693ff;

// navbar 


    .nav-bar {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;
        color: $primary-color;
        background: #333;
        padding: 0.5rem 5rem;
        position: sticky;
        top: 0;
        z-index: 1;
        border-bottom: 3px solid $secondary-color;
        
    
        // branding-name-styling
        .text-primary {
            color: $secondary-color;
        }
        
        // navbar menu flex
        ul {
            display: flex;
            align-items: center;
            list-style: none;
    
        }

        h2 {

            border: 2px $secondary-color solid;
            border-radius: 50%;
            
        }   
              
        
            a {
                color: $primary-color;
                text-decoration: none;
                padding: 5px;
                
            }

            // menu styling
            li a {
                text-decoration: none;
                color: $primary-color;
                font-size: 1rem;
                padding: 0.5rem;
                margin: 0 1.2rem;
                border-radius: 5px;

                // hover effect
                 &:hover {
                    background-color: $secondary-color;
                    transition: all 0.5s ease-out;
                }
                
            }
    
                
    }
            

        
           
    
        
    

 