


#project {
    

            h2 {

                font-size: 2rem;
                text-align: center;
                margin-top: 1rem;
                font-weight: 550;
                

            }

            img {
                padding: 30px;
                // margin: 20px;
            }


            .boxes {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                margin-top: 2rem;
                
                    
            }

            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                
                
                margin-bottom: 2rem;
                // border: 1px solid $nav-color ;
                width: 100%;
                background: rgba($secondary-color, 0.1);

                
            }

            
         .box  {
                padding: 0 16px;

                h2{
                    color: $secondary-color;
                    text-align: left;
                    font-size: 1.5rem;
                }
                

                p {
                    font-size: 15px;
                    margin-top: 5px
                }
                
                .p-color {
                    color: grey;
                    text-align: right;
                    font-size: 12px;
                }

                a {
                        
                        text-decoration: none;
                        color: $secondary-color;  
                    
                    }
         }

    
}



// view from min 768px and over

@media only screen and (min-width: 768px){
    #project {
    
        .container {
            @include container;
    
        }
    
        h2 {
            font-size: 3rem;
            margin-top: 0.5rem;
            font-weight: 400;
            

            &:hover {
                
                color: $nav-color;
                @include ease-out();

    
            }
        }
    
        .boxes {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: center;
            margin: 2rem;
            // width: 50%;
    
            margin-top: 2rem;
        }
    
        .card {
            
            width: 40%;
            // margin:;
            margin: auto;
            margin-bottom: 3rem;
            border-radius: 10px;
            margin-inline-start: 1.5rem;
            margin-inline-end: 1.5rem;

            // a {
                
            // }
            
            
            
        }
         
        a .img {
            padding: 25px 16px;

            &:hover {
                transform: scale(1.5);
            }

        }
        .box {
            padding: 0 10px;

        }
        
    }

    
    }


