
// mixin created for color
@mixin text-primary {
    color: $secondary-color;
}

// mixin for transition effect
@mixin ease-out {
        transition: all 0.5s ease-out;  
    
}

// this is used in every webpage 
@mixin container {
    max-width: 1100px;
        margin: auto;
}

// partials  used
@import 'variables';
@import 'navbar';
@import 'about';
@import 'blog';
@import 'project';
@import 'contacts';




// General styling for all the pages

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
    background: $background;
    

}
 
    // styling for mobile view

    .text-primary {
        @include text-primary();
    }



.heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 0 5rem;
    height: 100%;
    overflow: hidden;


    // will only be visible in mobile view
    .mobile-image{
        justify-content: center;
        
        
    }

    .mobile-image img {
        
        justify-content: center;
        width: 60%;
        border-radius: 50%;
        margin-top: 20px;
        border: 2px $secondary-color solid;
        
    }
   
    
    // MAIN HEADING AND SMALL HEADING
    
    h1, h2 {
        margin: 0;
        font-weight: 400;
        
        
    
        &.lg-heading {
            font-size: 4rem;
            line-height: 1.2;
            
            
            
        }
    
        &.sm-heading {
            margin-bottom: 2rem;
            padding: 0.2rem 0.5rem;
            justify-content: right;
            background: rgba($secondary-color, 0.10);
            width: 90%;
            
        }
    
    }

     // icons styling for twitter, facebook, linkedin and Github
     .icons {
        margin-top: 1rem;
       
        a {
            padding: 0.4rem;
            color: $secondary-color;

            &:hover {
                color: $nav-color;
                @include ease-out();
                

            }
        }
    }

    
    // heading placement in the page
        h1 {
            margin-top: 5vh;
        }
        
}

// footer styling
#main-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background: $nav-color;
    color: white;
    text-align: center;
    margin-top: 40vh;
    padding: 1rem;
    border-top: 3px solid $secondary-color;
    
} 


// Desktop view styling

@media only screen and (min-width: 657px) {
    
    .heading {
        margin-top: 24vh;

        
        .mobile-image {
            
            display: none;
        }  

        
        h1, h2 {
            margin: 5px 2px;
            font-weight: 500;
            
        }
        
         h1.lg-heading {
           
                font-size: 8rem;
                padding-bottom: 5px;
            
        }
       
        h2.sm-heading {
            margin-bottom: 2rem;
            padding: 0.2rem 0.5rem;
            justify-content: right;
            background: rgba($secondary-color, 0.10);
            width: 100%;
            
        }
       
    }   
}


