// $primary-color: #fff;
// $secondary-color: #3693ff;

@mixin text-primary {
    color: $secondary-color;
}

@mixin ease-out {
        transition: all 0.5s ease-out;  
    
}

@mixin container {
    max-width: 1100px;
        margin: auto;
}

@import 'variables';
@import 'navbar';
@import 'about';
@import 'blog';






// General style

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
    background: $background;
    

}

// landing page
// heading
h1, h2 {
    margin: 0;
    font-weight: 400;
    

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
    }

}

// all the anchor links
a {
    color: $secondary-color
}
        
    
    
// h1 in span
.text-primary {
    @include text-primary();
}

main {
    direction: flex;
    justify-content: center;
    padding: 4rem;
    height: 100%;

    // icons
    .icons {
        margin-top: 1rem;

        a{
            padding: 0.4rem;

            &:hover {
                color: $nav-color;
                @include ease-out();
                

            }
        }
    }

    &#home {
        // display: flex;
        // justify-content: center;
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
        
    }
    
}







