// $primary-color: #fff;
// $secondary-color: #3693ff;

@mixin text-primary {
    color: $secondary-color;
}

@mixin ease-out {
        transition: all 0.5s ease-out;  
    
}

@mixin container {
    max-width: 1100px;
        margin: auto;
}

@import 'variables';
@import 'navbar';
@import 'about';
@import 'blog';
@import 'project';




// General style

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4;
    color: #333;
    overflow-x: hidden;
    background: $background;
    

}
 
    // h1 in span
    .text-primary {
        @include text-primary();
    }



.heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    padding: 4rem;
    height: 100%;
    overflow: hidden;
    

    
    h1, h2 {
        margin: 0;
        font-weight: 400;
        
        
    
        &.lg-heading {
            font-size: 6rem;
            // justify-content: flex-start;
                
        }
    
        &.sm-heading {
            margin-bottom: 2rem;
            padding: 0.2rem 0.5rem;
            justify-content: right;
            background: rgba($secondary-color, 0.10);
            width: 90%;
            
        }
    
    }

     // icons
     .icons {
        margin-top: 1rem;
        // justify-content: left;
        // align-items: ;

        a{
            padding: 0.4rem;
            color: $secondary-color;

            &:hover {
                color: $nav-color;
                @include ease-out();
                

            }
        }
    }

    
        
    

   

    // &.heading {
        // display: flex;
        // justify-content: center;
        
        h1 {
            margin-top: 20vh;
        }
        
    
    


}





