.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  background: #333;
  padding: 1rem 0rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 3px solid #3693ff;
}
.nav-bar h2 {
  margin-left: 3px;
}
.nav-bar h2 a {
  border: 2px solid #3693ff;
  border-radius: 50%;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.nav-bar h2 a .text-primary {
  color: #3693ff;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.nav-bar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0px auto;
  border-radius: 5px;
}
.nav-bar ul li a:hover {
  background-color: #3693ff;
  transition: all 0.5s ease-out;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    padding: 1rem 4rem;
  }
}
#about {
  padding: 0.3rem 0.2rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* Darker background on mouse-over */
}
#about .container {
  max-width: 1100px;
  margin: auto;
}
#about .about-image {
  text-align: center;
}
#about .about-image img {
  width: 40%;
  border-radius: 5%;
  margin-top: 30px;
  box-shadow: 0 6px 9px 0 rgba(0, 0, 0, 0.2);
}
#about h2 {
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 535;
  text-align: center;
}
#about p.lead {
  margin-bottom: 1rem;
}
#about h1 {
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 20px;
}
#about p {
  margin-bottom: 4px;
}
#about .skills-container {
  width: 100%;
  background-color: #ddd;
}
#about .skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
#about .html {
  width: 90%;
  background-color: #4CAF50;
}
#about .css {
  width: 30%;
  background-color: #2196F3;
}
#about .ruby {
  width: 65%;
  background-color: #f44336;
}
#about .js {
  width: 5%;
  background-color: #808080;
}
#about p {
  color: #333;
  margin-top: 15px;
}
#about .btn {
  margin-top: 5px;
  background-color: #3693ff;
  border: none;
  color: white;
  padding: 6px 5px;
  cursor: pointer;
  font-size: 12px;
}
#about .btn:hover {
  background-color: #333;
}

@media only screen and (min-width: 769px) {
  #about .about-content {
    display: flex;
  }
  #about .about-text,
#about .about-image {
    flex: 1;
  }
  #about .about-image img {
    width: 50%;
    margin-top: 18vh;
    margin-left: 10rem;
  }
  #about h2 {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 400;
  }
  #about .about-text {
    text-align: justify;
  }
  #about .about-text {
    order: 1;
  }
  #about .text-paragraph p {
    margin-top: 3rem;
  }
  #about .about-image {
    order: 2;
  }
  #about .btn {
    padding: 12px 10px;
    font-size: 20px;
  }
}
#blog h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 535;
}
#blog .boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;
}
#blog .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  width: 100%;
}
#blog img {
  padding: 0 16px;
}
#blog .box {
  padding: 0 16px;
}
#blog .box h2 {
  color: #3693ff;
  text-align: left;
  font-size: 1.5rem;
}
#blog .box p {
  font-size: 15px;
  margin-top: 5px;
}
#blog .box .p-color {
  color: grey;
  text-align: right;
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  #blog .container {
    max-width: 1100px;
    margin: auto;
  }
  #blog h2 {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 400;
  }
  #blog .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
  }
  #blog .card {
    width: 50%;
    margin-bottom: 3rem;
  }
  #blog .img {
    padding: 25px 16px;
  }
  #blog .box {
    padding: 0 10px;
  }
}
#project h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 550;
}
#project .boxes {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 2rem;
}
#project .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  width: 100%;
  background: rgba(51, 51, 51, 0.1);
}
#project img {
  padding: 0 16px;
}
#project .box {
  padding: 0 16px;
}
#project .box h2 {
  color: #3693ff;
  text-align: left;
  font-size: 1.5rem;
}
#project .box p {
  font-size: 15px;
  margin-top: 5px;
}
#project .box .p-color {
  color: grey;
  text-align: right;
  font-size: 12px;
}
#project .box a {
  text-decoration: none;
  color: #3693ff;
}

@media only screen and (min-width: 768px) {
  #project .container {
    max-width: 1100px;
    margin: auto;
  }
  #project h2 {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: 400;
  }
  #project .boxes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
  }
  #project .card {
    width: 50%;
    margin-bottom: 3rem;
    border-radius: 10px;
  }
  #project .card a:hover {
    background: #fff;
    transition: all 0.5s ease-out;
  }
  #project .img {
    padding: 25px 16px;
  }
  #project .box {
    padding: 0 10px;
  }
}
#contact {
  padding-top: 4vh;
}
#contact h1 {
  color: #3693ff;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}
#contact h2 {
  color: #333;
  font-size: 20px;
  background: rgba(54, 147, 255, 0.2);
  width: 100%;
  text-align: center;
}
#contact .contact-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .box {
  border: 4px solid #3693ff;
  margin: 0 50px;
  margin-bottom: 2rem;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease-out;
}
#contact .box:hover {
  border: 2px solid #333;
  padding: 0.5rem 0;
  background: #3693ff;
  color: white;
}
#contact .box .icons a {
  color: #333;
}
#contact .box .icons a:hover {
  color: #fff;
  transition: all 0.5s ease-out;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #contact .container {
    max-width: 1100px;
    margin: auto;
  }
  #contact h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  #contact h2 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  #contact .contact-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    flex-direction: row;
  }
  #contact .box {
    font-size: 2rem;
    border: 4px solid #3693ff;
    padding: 1.5rem 5rem;
    margin: 0 25%;
    margin-bottom: 2rem;
  }
  #contact .icons a {
    padding: 0.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
  background: #f4f4f4;
}

.text-primary {
  color: #3693ff;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding: 0 5rem;
  height: 100%;
  overflow: hidden;
}
.heading .mobile-image {
  justify-content: center;
}
.heading .mobile-image img {
  justify-content: center;
  width: 60%;
  border-radius: 50%;
  margin-top: 20px;
  border: 2px #3693ff solid;
}
.heading h1, .heading h2 {
  margin: 0;
  font-weight: 400;
}
.heading h1.lg-heading, .heading h2.lg-heading {
  font-size: 4rem;
  line-height: 1.2;
}
.heading h1.sm-heading, .heading h2.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 0.5rem;
  justify-content: right;
  background: rgba(54, 147, 255, 0.1);
  width: 90%;
}
.heading .icons {
  margin-top: 1rem;
}
.heading .icons a {
  padding: 0.4rem;
  color: #3693ff;
}
.heading .icons a:hover {
  color: #333;
  transition: all 0.5s ease-out;
}
.heading h1 {
  margin-top: 5vh;
}

@media only screen and (min-width: 657px) {
  .heading {
    margin-top: 24vh;
  }
  .heading .mobile-image {
    display: none;
  }
  .heading h1, .heading h2 {
    margin: 5px 2px;
    font-weight: 500;
  }
  .heading h1.lg-heading {
    font-size: 8rem;
    padding-bottom: 5px;
  }
  .heading h2.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.5rem;
    justify-content: right;
    background: rgba(54, 147, 255, 0.1);
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
