.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #fff;
  background: #333;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 3px solid #3693ff;
}
.nav-bar .flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.nav-bar .text-primary {
  color: #3693ff;
}
.nav-bar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}
.nav-bar #logo {
  border: 2px #3693ff solid;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding-top: 10px;
  padding: 5px;
}
.nav-bar a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
.nav-bar li a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 0px auto;
  border-radius: 5px;
}
.nav-bar li a:hover {
  background-color: #3693ff;
  transition: all 0.5s ease-out;
}

@media only screen and (min-width: 900px) {
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
    background: #333;
    padding: 0.5rem 5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid #3693ff;
  }
  .nav-bar .navbar-items {
    flex-grow: 1;
  }
  .nav-bar .nav-bar div {
    width: 100%;
  }
  .nav-bar #reallybig {
    flex-grow: 5;
  }
}
#about {
  padding: 0.3rem 0.2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#about .container {
  max-width: 1100px;
  margin: auto;
}
#about .about-image {
  text-align: center;
}
#about .about-image img {
  width: 30%;
  border-radius: 50%;
  margin-top: 30px;
  border: 2px #3693ff solid;
}
#about h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 535;
  text-align: center;
}
#about p.lead {
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1001px) {
  #about .about-content {
    display: flex;
  }
  #about .about-text,
#about .about-image {
    flex: 1;
    margin-top: 3rem;
  }
  #about .about-image img {
    width: 50%;
  }
  #about .about-text {
    text-align: justify;
  }
  #about .about-text {
    order: 1;
  }
  #about .text-paragraph p {
    margin-top: 3rem;
  }
  #about .about-image {
    order: 2;
  }
}
#blog .boxes {
  margin: 5%;
  text-align: center;
}
#blog .box {
  background: rgba(54, 147, 255, 0.5);
}
#blog .text-primary {
  color: #3693ff;
}
#blog .container {
  max-width: 1100px;
  margin: auto;
}
#blog h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}
#blog .box:first-child, #blog .box:nth-child(2), #blog .box:nth-child(3), #blog .box:nth-child(4) {
  margin-bottom: 3rem;
}
#blog .box img {
  border-radius: 50%;
  margin-right: 2rem;
}
#blog p {
  color: #fff;
  justify-content: center;
}

@media only screen and (min-width: 900px) {
  .boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .box {
    display: flex;
    padding: 2rem;
    align-items: center;
    border-radius: 15px;
  }
}
#projects {
  padding: 1rem 0;
}
#projects .text-primary {
  color: #3693ff;
}
#projects .container {
  max-width: 1100px;
  margin: auto;
}
#projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
#projects .project-boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#projects h3 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #3693ff;
}
#projects .project-box {
  background: #fff;
  flex: 1;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #d1d1d1;
  font-size: 1.3rem;
}
#projects .project-box a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  #projects.project-box {
    background: #fff;
    flex: 1;
    margin: 2rem 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #d1d1d1;
    font-size: 1.3rem;
  }
}
#contact {
  padding-top: 4vh;
}
#contact h1 {
  color: #3693ff;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}
#contact h2 {
  color: #333;
  font-size: 20px;
  background: rgba(54, 147, 255, 0.2);
  width: 100%;
  text-align: center;
}
#contact .contact-boxes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contact .box {
  border: 4px solid #3693ff;
  margin: 0 50px;
  margin-bottom: 2rem;
  padding: 2px;
  border-radius: 10px;
  text-align: center;
  transition: all 0.5s ease-out;
}
#contact .box:hover {
  border: 2px solid #333;
  padding: 0.5rem 0;
  background: #3693ff;
  color: white;
}
#contact .box .icons a {
  color: #333;
}
#contact .box .icons a:hover {
  color: #fff;
  transition: all 0.5s ease-out;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  #contact .container {
    max-width: 1100px;
    margin: auto;
  }
  #contact h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  #contact h2 {
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }
  #contact .contact-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    flex-direction: row;
  }
  #contact .box {
    font-size: 2rem;
    border: 4px solid #3693ff;
    padding: 1.5rem 5rem;
    margin: 0 25%;
    margin-bottom: 2rem;
  }
  #contact .icons a {
    padding: 0.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.4;
  color: #333;
  overflow-x: hidden;
  background: #f4f4f4;
}

.text-primary {
  color: #3693ff;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding: 0 5rem;
  height: 100%;
  overflow: hidden;
}
.heading .mobile-image {
  justify-content: center;
}
.heading .mobile-image img {
  justify-content: center;
  width: 60%;
  border-radius: 50%;
  margin-top: 20px;
  border: 2px #3693ff solid;
}
.heading h1, .heading h2 {
  margin: 0;
  font-weight: 400;
}
.heading h1.lg-heading, .heading h2.lg-heading {
  font-size: 4rem;
  line-height: 1.2;
}
.heading h1.sm-heading, .heading h2.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 0.5rem;
  justify-content: right;
  background: rgba(54, 147, 255, 0.1);
  width: 90%;
}
.heading .icons {
  margin-top: 1rem;
}
.heading .icons a {
  padding: 0.4rem;
  color: #3693ff;
}
.heading .icons a:hover {
  color: #333;
  transition: all 0.5s ease-out;
}
.heading h1 {
  margin-top: 5vh;
}

@media only screen and (min-width: 657px) {
  .heading {
    margin-top: 20vh;
  }
  .heading .mobile-image {
    display: none;
  }
  .heading h1, .heading h2 {
    margin: 5px 2px;
    font-weight: 500;
  }
  .heading h1.lg-heading {
    font-size: 8rem;
    padding-bottom: 5px;
  }
  .heading h2.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 0.5rem;
    justify-content: right;
    background: rgba(54, 147, 255, 0.1);
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
